@use 'variables' as v;
@use 'sass:color';
body{
    background-color:#f2f2f0;
    //background-color:hsl(13, 31%, 94%);
    font-family: Red Hat Text;
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, contenido, footer */
    height: 100vh; /* Usa toda la altura de la ventana */
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    padding: 0 15px 0 15px;
    height: 40px;
    border-radius: 50px;
    width: fit-content;
    text-align: center;
    color: white;
    background-color: v.$red;
    &:hover{
        cursor: pointer;
        background-color: color.adjust(v.$red, $lightness: -10%);
    }

    &--admin{
        background-color: v.$grisOscuroFrio;
        color: v.$grisAzul100;                
        border-radius: 15px;
        &:hover{
            background-color: initial;
            color: v.$grisOscuroFrio;
            outline: 1px v.$grisOscuroFrio solid;
        }
    }
}

.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#1b1a1a,  .9);
    z-index: 9999;
    &__formulario{
        background-color:  v.$rose100;
        padding: 2rem;
        
    }
    &__botones{
        display: flex;
    }
    &--abierto{
        overflow: hidden;
    }
}

.ruta_actual{

    &--admin{
        background-color:  v.$grisAzul300;
        font-weight: 800;
            
        a{
            color: v.$grisOscuro;
        }
    
        svg{
            transform: scale(1.3);
        }
    }
}

.filtro{
    height: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    &__boton{
        background-color: transparent;
        border: none;
        transition: transform .3s;
        &:hover{
            cursor: pointer;
            transform: scale(1.3);
        }
    }

    &__select{
        height: 100%;
        min-width: 165px;
        border-radius: 5px;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
        border: 2px v.$grisAzul200 solid;
        transition: border .3s;
        
        &:hover{
            border: 2px v.$grisOscuroFrio solid;
            cursor: pointer;
        }
    } 

    &__input{
        height: 100%;
        min-width: 165px;
        border-radius: 5px;
        font-size: 20px;
        padding-left: 10px;
    }
}


.hidden{
    display: none;
}