@use '../base/variables' as v;

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__titulo{
        font-size: 60px;
    }

    &__subtitulo{
        font-weight: 400;
        margin-bottom: 40px;
    }

    &__registro{
        color: v.$marronOscuro;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 30px;
        &:hover{
            color: v.$doradoMetalico;
        }
    }

    &__ventajas{
        display: flex;
        justify-content: space-between;
        max-width: 450px;
        width: 100%;
    }

    &__elemento{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-top: 0;
        }
    }
}