 @use '../base/variables' as v;

.tienda{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    h2{
        margin-bottom: 40px;
    }
        
    p{        
        font-weight: 600;
    }

    img{
        display: block;
    }
        
    ul{
        width: 100%;
    }

    .filtro{
        display: flex;
        justify-content: space-between;
        margin: 0;

        &__input{
            height: 24px;
            border: 1px solid v.$marronOscuro;
            color: v.$marronOscuro;

        }

        &__select{
            border: 1px solid v.$marronOscuro;
            height: 25px;
            color: v.$marronOscuro;
            margin-right: 0;
            &-texto{
                font-size: 20px;
            }
        }
    }

    .productos{

        display: flex;
        flex-direction: column;
        margin-right: 20px;

        &__contenedor{
            display: grid;
            column-gap: 25px;
        }

        &__imagen{
            width: 100%;
            border-radius: 10px;

            &--seleccionado{
                outline: 3px solid v.$marronOscuro;
            }
        }

        &__categoria{
            font-weight: 400;
            margin-bottom: 10px;
        }

        &__nombre{
            margin: 0;
        }

        &__precio{  
            margin-top: 10px;
            margin-bottom: 30px;
        }

        &__cantidad{
            padding-right: 7.5px;
            padding-left: 7.5px;
            color: hsl(14, 86%, 42%);
        }

        &__boton-añadir{
            margin-top: -22.5px;
            width: 64%;
        }

        &__boton-cantidad{
            margin-top: -22.5px;
            background-color: v.$marronOscuro;
            outline: 1px solid v.$marronOscuro;
            width: 75%;
        }

        &__boton-sumar,.productos__boton-restar{
            background-color: v.$marronOscuro;
            color: v.$beige;
            height: 100%;
            width: 100%;
            display: grid;
            place-content: center;
        }

        &__boton-restar{
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        
        &__boton-sumar{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }

        &__boton-sumar:hover,.productos__boton-restar:hover{
            background-color: v.$beige;
            color: v.$marronOscuro;
            cursor: pointer;
        }
    
        &__boton-sumar:hover img, .productos__boton-restar:hover img{
            filter:invert(.4) sepia() hue-rotate(-16deg) saturate(86) brightness(42);
        }

        .alerta{
            width: 100%;
        }
    }
    
    
    @media(min-width:545px){
        .productos__contenedor{
            grid-template-columns: repeat(2,250px);
        }
    
        .resumen-orden{
            width: 41%;
        }
    }
    
    @media(min-width:820px){
        .productos__contenedor{
            grid-template-columns: repeat(3,250px);
        }
    }
    
    @media(min-width:1201px){
        .contenedor{
            display: flex;
        }
    }
    
    .boton{
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        align-self: center;
        padding: 0;
        input{
            width: 100%;
            text-align: center;
            background-color: v.$marronOscuro;
            border: none;
            height: 100%;
            color: v.$beige;
        }     
    }
            
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    input[type=number] { -moz-appearance:textfield; }
    
}

