@use '../base/variables' as v;

.admin__layout{

    .dashboard{
        
        .resumen{
            max-width: 750px;
            width: 100%;


            &__section{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin-top: 20px;
                margin-bottom: 50px;
                border-radius: 10px;
                border: 1px v.$grisAzul200 solid;
                transition: outline .3s ease-in;
                &:hover{
                    outline: 2px v.$grisAzul200 solid;
                }
            }
            
            &__header{
                display: flex;
                position: absolute;
                margin-top: -21px;

                .filtro__boton{
                    background-color: v.$grisAzul100;
                    padding: 0;
                    padding-right: -2px;
                }
            }

            &__titulo{
                font-size: 20px;
                align-self:center;
                font-weight: 600;
                color: v.$grisOscuro;
                background-color: v.$grisAzul100;
                margin-right: 20px;
            }

            &__enlace{
                width: 100%;
                height: 100%;
                padding: 40px 0 40px 0;
                
            }

            &__lista{
                display: grid;
                grid-template-columns: 1fr 1fr;    
                
                &--usuarios{
                    .resumen__datos:last-of-type{
                        grid-column: 1/3;
                    }
                }
            }

            &__datos{
                text-align: center;
                color: v.$grisOscuro;
                font-size: 20px;

                &-valor{
                    font-size: 25px;
                    font-weight: 600;
                }
            }

            .filtro{
                margin: 0;
            }
        }
    }
}