@use '../base/variables' as v;

.admin__layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    background-color: v.$grisAzul100;
    color: v.$grisClaro;
    column-gap: 40px;
    margin-right: 50px;
    h1{
        color: v.$grisOscuroFrio;
    }
    main{
        grid-column: 2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}