@use '../base/variables' as v;

.admin__layout{
    .productos{
        &__acciones{
                width: 100%;
                max-width: 825px;
                display: flex;
                justify-content: space-between;       
                margin-bottom: 30px; 
        }

        &__enlace{
            align-self: center;
            display: flex;
            align-items: center;
            font-size: 20px; 
            background-color: v.$grisOscuroFrio;
            color: v.$grisAzul100;                
            height: 40px;
            text-align: center;
            border-radius: 15px;
            padding: 0 10px 0 10px;

            &:hover{
                background-color: initial;
                color: v.$grisOscuroFrio;
                outline: 1px v.$grisOscuroFrio solid;
            }
        }

        .filtro{
            margin: 0;

        }

        .tabla{
            width: 100%;
            max-width: 825px;
            
            &__celda{
                &--head:last-of-type:hover{
                    cursor: default;
                    background-color: initial;
                }
            }
            
            &__acciones{
                display: flex;
                justify-content: space-between;    
                margin-top: -5px;            
            }

            &__boton{
                border-radius: 15px;
                font-size: 15px;
                text-transform: uppercase;
                color: v.$grisAzul100;                

                &:hover{
                    cursor: pointer;
                }

                &--editar{
                    background-color: v.$grisOscuroFrio;

                    &:hover{
                        background-color: initial;
                        color: v.$grisOscuroFrio;
                    }
                }

                &--borrar{
                    background-color: v.$red;
                    border: 1px v.$red solid;


                    &:hover{
                        background-color: initial;
                        color: v.$red;
                    }
                }
            }
        }
    }
}