@use '../base/variables' as v;

.admin__navegacion{
    width: 300px;
    grid-row: 1/3;
    grid-column: 1; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    position: fixed;
    border-right: 2px solid v.$grisAzul200;
    
    ul{            
        margin-top: 50px;
   
        li{
            display: flex;
            height: 50px;
            font-size: 20px;

            a{
                display: inline-block;
                height: 100%;
                width: 100%;
                padding-left: 25px;
                line-height: 50px;
                color: v.$grisOscuroFrio;
                svg{
                    margin-right: 10px;
                }
    
            }

            &:hover{
                background-color:  v.$grisAzul400;
                cursor: pointer;
                font-weight: 800;
                
                svg{
                    transform: scale(1.3);
                    transition: transform .3s;
                    }
            }
                
                    
        }
    }

    form{
        grid-row: 3/4;

        input{
            padding-left: 25px;
            height: 50px;
            width: 100%;
            text-align: left;
            font-size: 20px;
            background-color: transparent;
            border: none;
            color: v.$grisOscuroFrio;
    
            &:hover{
                background-color: v.$grisAzul400;
                cursor: pointer;
                font-weight: 800;

            }
        }          
    }
}