@use '../base/variables' as v;
@use 'sass:color';

.admin__layout{
    .ventas{
        h2{
            color: color.adjust(v.$grisOscuroFrio, $lightness: 10%);
        }
        .mas_vendido{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px v.$grisAzul200 solid;
            border-radius: 10px;
            max-width: 700px;
            width: 100%;
            margin-bottom: 50px;

            p{
                margin: 0;
            }
            &__datos{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                font-size: 20px;
                text-align: center;
                margin-bottom: 25px;
                
            }
        }
    }
}