
@use '../base/variables' as v;
@use 'sass:color';

.alerta{
    box-sizing: border-box;
    min-width: 325px;
    width: 30%;
    margin-bottom: 20px;
    padding: 10px 1rem;
    color: white;
    font-weight: v.$bold;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;
    &__error{
        background-color: #b71c1c;
    }

    &__exito{
        background-color: color.adjust(#02db02, $lightness: -10%)  ;
    }
    
}

.mensaje{

    &__error{
        color: v.$rojoCalido;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 600;
        margin-bottom: 15px;
        
        &--general{
            margin-top: -15px;
        }
    }
}