@use '../base/variables' as v;

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$rose400;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 70px;
}