@use '../base/variables' as v;

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    background-color: v.$marronOscuro;
    padding-top: 30px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    margin-top: 70px;
    color: v.$beige;

   

    &__contacto{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
        row-gap: 20px;
    }

    &__campo{
        display: flex;
        gap: 10px;
    }

    &__contenedor-redes{
       text-align: end;
        p{
            margin-top: 0;
        }
    }

    &__redes{
        a{
            color: v.$beige;

            &:hover{
                color: v.$doradoMetalico;
            }
        }
    }

    &__copyright{
        grid-row: 2;
        grid-column: 1/4;
        text-align: center;
    }
}