@use '../base/variables' as v;
@use 'sass:color';

.login,
.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario{
    min-width: 350px;
    width: 30%;
    margin-bottom: 20px;

    &__campo{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__label{
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: v.$bold;
        letter-spacing: .5px;
        font-size: 1.25rem;
    }

    &__input{
        border-radius: .25rem;
        height: 3rem;
        border: 1px solid v.$rose400;
        padding-left: 1rem;
        font-size: 1.2rem;

        &::placeholder{
            color: v.$rose300;
            font-size: 1.2rem;
        }

        &--file{
            padding-left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 32px;
        }

        &--img{
            display: flex;
            flex-direction: column;
        }
    
        &-button{
            padding-left: 1rem;
            padding-right: 1rem;
            line-height: 3rem;
            width: 105px;
            flex: 0 0 auto;
            height: 100%;
            white-space: nowrap;  
            border-right: 1px solid v.$rose400;
            &:hover{
                cursor: pointer;
                font-weight: 600;
            }
        }

        &-text{
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;  
        }
    }

    &__submit{
        height: 2.5rem;
        width: 10rem;
        text-transform: uppercase;
        color: white;
        font-weight: v.$bold;
        background-color: v.$red;
        border-radius: 50px;
        border: none;

        &:hover{
            cursor: pointer;
            background-color: color.adjust(v.$red, $lightness: -10%);
        }
    }

    &__img{
        width: 200px;
        height: auto;
        border-radius: 15px;
    }

    &--admin{
        width: 50%;
        max-width: 750px;
        .formulario__label{
            color: v.$grisOscuro;
        }

        .formulario__input{
            border: 1px solid v.$grisAzul200;
            color: v.$grisOscuroFrio;
            
            &::placeholder{
                color: color.adjust(v.$grisClaro, $lightness: 15%);
                font-size: 1.2rem;
            }   
            
            &-button{
                border-right: 1px solid v.$grisAzul200;
                background-color: v.$grisAzul200;
                
                &:hover{
                    background-color: color.adjust(v.$grisAzul300, $lightness: -5%);
                }
            }
        }
    }

    .boton{
        margin-bottom: 20px;

    }
}

.acciones{
    display: flex;
    min-width: 325px;
    width: 30%;
    justify-content: space-between;
    gap: 5px;
    &--centrar{
        justify-content: center;
    }
    &__enlace{
        color: v.$red;

        &:hover{
            color: v.$rose900;
        }
    }
}