@use '../base/variables' as v;
@use 'sass:color';

.login,
.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario{
    min-width: 350px;
    width: 30%;
    margin-bottom: 20px;

    &__contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;

        @media (max-width: v.$xl_desktop) {
            grid-template-columns: 1fr;
            max-width: 500px;
            width: 80%;   
        }
    }

    &__legend{
        font-size: 1.25rem;
        margin-bottom: 15px;
        font-weight: v.$bold;
    }

    &__campo{
        display: flex;
        flex-direction: column;
    }

    &__label{
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: v.$bold;
        letter-spacing: .5px;
        font-size: 1.15rem;
        display: flex;
        align-items: center;
        gap: 10px;

        &--input{
            width: fit-content;
            margin-bottom: 0;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__input{
        border-radius: .25rem;
        height: 3rem;
        border: 1px solid v.$marronOscuro;
        margin-bottom: 2rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        color: v.$marronOscuro;

        &::placeholder{
            color: color.adjust(v.$marronOscuro, $lightness: 35%);
            font-size: 1.2rem;
        }

        &--file{
            padding-left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 32px;
        }

        &--img{
            display: flex;
            flex-direction: column;
        }
    
        &-button{
            padding-left: 1rem;
            padding-right: 1rem;
            line-height: 3rem;
            width: 105px;
            flex: 0 0 auto;
            height: 100%;
            white-space: nowrap;  
            border-right: 1px solid v.$rose400;
            &:hover{
                cursor: pointer;
                font-weight: 600;
            }
        }

        &-text{
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;  
        }

        &--radio{
            accent-color: v.$marronOscuro;
            margin-bottom: 0;
            &:hover{
                cursor: pointer;
            }
        }

        &--select{
            &:hover{
                cursor: pointer;
            }
        }

        &--error:not(.campo-entrega){
            border: 1px solid v.$rojoCalido;
            color: v.$rojoCalido;
            margin-bottom: 0;
            
            &::placeholder{
                color: color.adjust(v.$rojoCalido, $lightness: 25%);
            }
        }
    }

    &__option{
        &:hover{
            background-color: v.$beige;
        }
    }

    &__submit{
        height: 2.5rem;
        width: 10rem;
        text-transform: uppercase;
        color: v.$beige;
        font-weight: v.$bold;
        background-color: v.$marronOscuro;
        border-radius: 50px;
        border: none;

        &:hover{
            cursor: pointer;
            background-color: v.$beige;
            color: v.$marronOscuro;
            outline: 2px v.$marronOscuro solid;
        }
    }

    &__img{
        width: 200px;
        height: auto;
        border-radius: 15px;
    }

    &--admin{
        width: 50%;
        max-width: 750px;
        .formulario__label{
            color: v.$grisOscuro;
        }

        .formulario__input{
            border: 1px solid v.$grisAzul200;
            color: v.$grisOscuroFrio;
            
            &::placeholder{
                color: color.adjust(v.$grisClaro, $lightness: 15%);
                font-size: 1.2rem;
            }   
            
            &-button{
                border-right: 1px solid v.$grisAzul200;
                background-color: v.$grisAzul200;
                
                &:hover{
                    background-color: color.adjust(v.$grisAzul300, $lightness: -5%);
                }
            }
        }
    }

    &--modal{
        width: fit-content;
        border-radius: 15px;

        .formulario__contenedor{
            @media (max-width: v.$tablet) {
                grid-template-columns: 1fr;
            }
        }

        .campo-pais{
            width: 256px;
            @media (max-width: v.$tablet) {
                width: 100%;
            }
        }
    }

    .boton{
        margin-bottom: 20px;
    }

    &__acciones{
        display: flex;
        justify-content: space-between;

        a{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
}

.acciones{
    display: flex;
    min-width: 325px;
    width: 30%;
    justify-content: space-between;
    gap: 5px;
    &--centrar{
        justify-content: center;
    }
    &__enlace{
        color: v.$marronOscuro;
        &:hover{
            color: v.$doradoMetalico;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* tu color de fondo */
  -webkit-text-fill-color: v.$marronOscuro !important;               /* color del texto */
  transition: background-color 5000s ease-in-out 0s;      /* truco para evitar el parpadeo */
}