@use '../base/variables' as v;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding-left: 5.5%;
    padding-right: 5.5%;
   
    background: v.$marronOscuro;
    background-image: url("../img/onda.svg");
    background-repeat: repeat-x;
    background-size: 150px 80px;
    background-position: bottom;
    
    color: v.$beige;
    padding-bottom: 40px;


    &__logo{
        font-size: 3rem;
        color: v.$beige;
        font-weight: v.$extrabold;
        &:hover{
            font-size: 3.1rem;
            color: v.$doradoMetalico;
        }
    }

    &__navegacion{
        width: 50%;
        ul{
            display: flex;
            justify-content: end;
            list-style: none;
            gap: 2rem;
            padding: 0;
            width: 100%;
        }

        
    }

    &__enlace{
        color: v.$beige;
        font-size: 1.2rem;
        font-weight: v.$bold;
        &:hover{
            cursor: pointer;
            color: v.$doradoMetalico;
        }
    }

    &__submit{
        background-color: transparent;
        border: none;
        @extend .header__enlace;
    }

    &__admin{
        display: flex;
        .admin__fecha{
            display: flex;
        }
    }

}