@use '../base/variables' as v;
@use 'sass:color';

.paginacion{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    a, span{
        border-radius: 5px;
        padding: 3px 10px 3px 10px;
    }
    &--admin{
        a{
            color: color.adjust(v.$grisOscuro, $lightness: 25%);
            &:hover{
                background-color: v.$grisAzul300;
            }
        }
    }
}