@use '../base/variables' as v;
@use 'sass:color';

.paginacion{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    a, span:not(.paginacion__boton){
        border-radius: 5px;
        padding: 3px 10px 3px 10px;
    }

    &__boton{
        margin-right: 5px;
        padding: 0;
        width: 35px;
        height: 35px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid v.$marronOscuro;
        background-color: transparent;
        border-radius: 5px;

        &:hover:not(.paginacion__pagina-actual){
            cursor: pointer;
            color: v.$beige;
            background-color: v.$marronOscuro;
        }
    }

    &__pagina-actual{
        display: flex;
        align-items: center;
        justify-content: center;
        color: v.$doradoMetalico;
        background-color: v.$marronOscuro;
    }

    &--admin{
        a{
            color: color.adjust(v.$grisOscuro, $lightness: 25%);
            &:hover{
                background-color: v.$grisAzul300;
            }
        }
    }
}