@use '../base/variables' as v;
@use 'sass:color';

.tabla{
    border-collapse: collapse;
    margin-bottom: 50px;

    &__header, a{
        color: v.$grisOscuroFrio;
    }


    &__body{

        .tabla__fila{

            &:nth-child(odd){
                background-color: v.$marronOscuro;
                color: v.$beige;

                .boton{
                    background-color: v.$beige;
                    color: v.$marronOscuro;

                    &:hover{
                        background-color: v.$marronOscuro;
                        color: v.$beige;
                        outline: 2px solid v.$beige;
                    }
                }
            }

            .boton{
                border: none;  
            }
        }   
    }
    &__fila{
        height: 45px;
    }

    &__celda{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        &--no-wrap{
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }

        img{
            height: 100px;
            vertical-align: middle;
            border-radius: 8px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    &--admin{
        
        .tabla__fila{
            &:hover:not(.tabla__fila--no-hover){
            cursor: pointer;
            }
        }
        .tabla__celda{
            font-size: 25px;
            &--head{
                
                &:hover:not(.tabla__celda--no-hover){
                    background-color: color.adjust(v.$grisAzul300, $lightness: -5%) ;
                }
            }
        }
        & .tabla__body{

            .tabla__fila{

                &:nth-child(odd){
                    color: v.$grisClaro;
                    background-color: v.$grisAzul200;
                }
                &:hover:not(.tabla__fila--no-hover){
                    background-color: color.adjust(v.$grisAzul300, $lightness: -5%);
                    transition: background-color 0.5s ease;
                }
            }   
        }
    }
}